
.pOne{
    width: 550px;
    height: 250px;

    /* background-color: orange; */

    padding: 20px;

    float: left;

    /* margin: 20px; */
    margin-right: 10px;
    /* margin: 20px 50px 10px 90px; */
}

.pTwo{
    width: 550px;
    height: 250px;

    /* background-color: darkcyan; */

    padding: 20px;
    /* padding-left: 50px; */
    /* padding: 0px 120px 0px 120px; */

    float: left;

}